.hero {
    background: #F9F7FE;
    text-align: center;
    padding: 100px 10px;
}

.hero p {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.hero h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.hero h2 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.hero .btn {
    padding: 15px 10px;
    background-color: rgb(152, 192, 255);
}

.hero .btn:hover {
    background-color: rgb(99, 159, 255);
}